<div id="<%= dom_id category %>">
  <h2>
    <% target = action_name.eql?("show") ? categories_path : category %>
    <%= link_to category.name.capitalize, target %>
  </h2>
  <% category.post.includes(:user, :rich_text_body, :images_attachments).each do |post| %>
    <%= render "posts/post", post: post %>
  <% end %>
</div>
